<head>
    <title>DVA Project - Center of Mass Calculation</title>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@turf/turf@6/turf.min.js"></script>
</head>

<script>
    Promise.all([
        d3.json("lots_copy.geojson")
    ]).then(data => {
        // http://turfjs.org/docs/#centerOfMass

        data[0].features.forEach(element => {
            var center = turf.centerOfMass(element)
            element.properties['center'] = center['geometry']['coordinates'].reverse()
        });

        console.log(data)

        // save file locally
        // https://stackoverflow.com/questions/34156282/how-do-i-save-json-to-local-text-file
        const a = document.createElement("a");
        a.href = URL.createObjectURL(new Blob([JSON.stringify(data)], {
            type: "text/plain"
        }));
        a.setAttribute("download", "test.geojson");
        document.body.appendChild(a);
        a.click();
        document.body.removeChild(a);

    })
</script>